:root {
  --sl-content-width: 60rem;
  --sl-color-text-accent: #00C897;
}

.hero {
  grid-template-columns: 1fr;
}

.hero .copy {
  align-items: center;
}

.hero .actions {
  justify-content: center;
}
